nodered/flows.json
[
    {
        "id": "a069be0b6948fb42",
        "type": "tab",
        "label": "flow4-clima",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd9c7103c38c6679",
        "type": "mqtt in",
        "z": "a069be0b6948fb42",
        "name": "",
        "topic": "codigoIoT/mqtt/clima",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1243b0ecad81bb33",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "444dd859804dc1ad"
            ]
        ]
    },
    {
        "id": "f88d317b1fbef8b1",
        "type": "function",
        "z": "a069be0b6948fb42",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.temp; \nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "3969ec3c30abd003",
                "3de71b9dfb36ce72"
            ]
        ]
    },
    {
        "id": "2e3f768c9fc4363c",
        "type": "function",
        "z": "a069be0b6948fb42",
        "name": "humedad",
        "func": "msg.payload = msg.payload.hum; \nmsg.topic = \"Humedad\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 420,
        "wires": [
            [
                "0de4f657de76f213",
                "3de71b9dfb36ce72"
            ]
        ]
    },
    {
        "id": "444dd859804dc1ad",
        "type": "json",
        "z": "a069be0b6948fb42",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "f88d317b1fbef8b1",
                "2e3f768c9fc4363c"
            ]
        ]
    },
    {
        "id": "3969ec3c30abd003",
        "type": "ui_gauge",
        "z": "a069be0b6948fb42",
        "name": "",
        "group": "bba91083f63c4eb6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "0de4f657de76f213",
        "type": "ui_gauge",
        "z": "a069be0b6948fb42",
        "name": "",
        "group": "bba91083f63c4eb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "3de71b9dfb36ce72",
        "type": "ui_chart",
        "z": "a069be0b6948fb42",
        "name": "",
        "group": "7cc8d6b90361f152",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1243b0ecad81bb33",
        "type": "mqtt-broker",
        "z": "a069be0b6948fb42",
        "name": "local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bba91083f63c4eb6",
        "type": "ui_group",
        "name": "indicadores",
        "tab": "e81c4920e3b03e7f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cc8d6b90361f152",
        "type": "ui_group",
        "name": "grafica",
        "tab": "e81c4920e3b03e7f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e81c4920e3b03e7f",
        "type": "ui_tab",
        "name": "clima-local",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]